.row {
    justify-content: center;
    align-content: space-between;
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter {
    display: flex;
    justify-content: center;
}