.card {
    width: 15rem;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.75);
}

.card:hover {
    background-color: khaki;
    cursor: pointer;
}

.card-img, .card-img-top {
    border-radius: 50%;
    border-top-left-radius: 50% !important;
}

.card-text {
    margin: 0;
}
